<div style="height: 90vh;position: relative;overflow: scroll;width: 20%;">
  {{airlines.length}} - {{totalPages}}


  <mat-card *ngFor="let a of airlines; let i = index" style="padding: 1px">
   <a class="user-link" *ngIf="i + 1 === airlines.length" #theLastList>
      <span>
        <p><span class="list-item-heading">Name</span>: {{ a.name }}</p>
      </span>
    </a>

     <a class="user-link" *ngIf="i + 1 != airlines.length">
      <span>
        <p><span class="list-item-heading">Name</span>: {{ a.name }}</p>
      </span>
    </a>
  </mat-card>

<!--  
  <ol class="list-group">
    <li class="list-item" *ngFor="let a of airlines; let i = index">
      <a class="user-link" *ngIf="i + 1 === airlines.length" #theLastList>
        <span>
          <p><span class="list-item-heading">Name</span>: {{ a.name }}</p>
        </span>
      </a>
      <a class="user-link" *ngIf="i + 1 != airlines.length">
        <span>
          <p><span class="list-item-heading">Name</span>: {{ a.name }}</p>
        </span>
      </a>
    </li>
  </ol> -->
</div>